.my-component {
  border: 2px dashed red;
  padding: 1em;
  margin: 1em 0;
  background-image: url("background.png");
}

::deep .month-view {
  display: grid;
}

::deep .month-grid {
  grid-area: 1/1/2/2;

  display: flex;
  flex-wrap: wrap;
}

::deep .month-grid > * {
  border: 1px solid #e0e0e0;
  padding: 5px;
  text-align: center;
  width: 120px;
  height: 120px;
}

::deep .month-view .appointment {
  background-color: #f5f5f5;
  text-align: left;
}
