@namespace BlazorScheduler.Internal.Components

<div class="appointment" style="--start: @Start; --order: @Order;" @onclick="Appointment.Click">
    <span class="dot" style="background-color: @Appointment.Color;"></span>
    @Appointment.ChildContent
</div>