@namespace BlazorScheduler.Internal.Components

<div class="appointment @Classes.AsString()"
    style="--start: @Start; --end: @End; --order: @Order; background-color: @Appointment.Color;"
    @onclick="Appointment.Click" @onmousedown="OnMouseDown">
    @Appointment.ChildContent
</div>