@namespace BlazorScheduler.Internal.Components
@typeparam T

<div class="day @Classes.AsString()" @onmousedown="OnMouseDown" data-date="@Day.Date.ToString("yyyyMMdd")">
    <span @onmousedown="OnDayClick" @onmousedown:stopPropagation="true">@DateText</span>
</div>